<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/dashboard/dashboard_user">Activities</a>
      <a class="nav-link active" href="/dashboard/user_medicines">Medicines</a>
    </li>
  </ul>