<%- include ('../partials/header') %>
<div class="content">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/dashboard/doctor">Patients</a>
    </li>
  </ul>
  <main class="main-content">
    <h3 class="dashboard-head">
      Your Patients
      <hr />
    </h3>
    <div class="row justify-content-around">
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.assetsdelivery.com/compings_v2/thesomeday123/thesomeday1231709/thesomeday123170900021.jpg"
          width="100"
          height="100"
          class="rounded-circle patient-icon"
        />
        <div class="card-body">
          <h5 class="card-title">Ann Vithayathil</h5>
          <p class="card-text">
            Inital Diagnosis: PTSD<br />
            Next Session: 13/02/2020
          </p>
          <a href="/dashboard/history" class="btn btn-primary">View History</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.assetsdelivery.com/compings_v2/thesomeday123/thesomeday1231709/thesomeday123170900021.jpg"
          width="100"
          height="100"
          class="rounded-circle patient-icon"
        />
        <div class="card-body">
          <h5 class="card-title">Anamika Prakash</h5>
          <p class="card-text">
            Inital Diagnosis: Schizophrenia<br />
            Next Session: 11/03/2020
          </p>
          <a href="#" class="btn btn-primary">View History</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.assetsdelivery.com/compings_v2/thesomeday123/thesomeday1231709/thesomeday123170900021.jpg"
          width="100"
          height="100"
          class="rounded-circle patient-icon"
        />
        <div class="card-body">
          <h5 class="card-title">Abhishek S</h5>
          <p class="card-text">
            Inital Diagnosis: Demensia<br />
            Next Session: 11/03/2020
          </p>
          <a href="#" class="btn btn-primary">View History</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.assetsdelivery.com/compings_v2/thesomeday123/thesomeday1231709/thesomeday123170900021.jpg"
          width="100"
          height="100"
          class="rounded-circle patient-icon"
        />
        <div class="card-body">
          <h5 class="card-title">Ann Vithayathil</h5>
          <p class="card-text">
            Inital Diagnosis: PTSD<br />
            Next Session: 13/02/2020
          </p>
          <a href="#" class="btn btn-primary">View History</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.assetsdelivery.com/compings_v2/thesomeday123/thesomeday1231709/thesomeday123170900021.jpg"
          width="100"
          height="100"
          class="rounded-circle patient-icon"
        />
        <div class="card-body">
          <h5 class="card-title">Anamika Prakash</h5>
          <p class="card-text">
            Inital Diagnosis: Schizophrenia<br />
            Next Session: 11/03/2020
          </p>
          <a href="#" class="btn btn-primary">View History</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.assetsdelivery.com/compings_v2/thesomeday123/thesomeday1231709/thesomeday123170900021.jpg"
          width="100"
          height="100"
          class="rounded-circle patient-icon"
        />
        <div class="card-body">
          <h5 class="card-title">Abhishek S</h5>
          <p class="card-text">
            Inital Diagnosis: Demensia<br />
            Next Session: 11/03/2020
          </p>
          <a href="#" class="btn btn-primary">View History</a>
        </div>
      </div>
    </div>
  </main>
</div>
<%- include ('../partials/footer') %>
