<%- include ('../partials/header') %>
          <div class="content">
            <iframe class="chat-bot" width="350" height="500" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/2305d400-e14e-4f9d-acec-2fa6323a787e"></iframe>
          </div>
<%- include ('../partials/footer') %>