<%- include ('../partials/header') %>
      <div class="content">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/user">Activities</a>
            <a class="nav-link active" href="/dashboard/user/medicines">Medicines</a>
          </li>
        </ul>
        <main class="main-content">
          <h3 class="dashboard-head">
            Your Prescriptions for Today
          </h3>
          <ul class="activities flex-column">
            <li class="custom-checklist">
              Luvox 
              <button class="dislike" style="float: right;">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button>
              
              <button class="like" style="float: right;">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button>
            </li>
            <li class="custom-checklist">
              Celexa
              <button class="dislike" style="float: right;">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button>
              
              <button class="like" style="float: right;">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button> 
            </li>
            <li class="custom-checklist">
              Zoloft 
              <button class="dislike" style="float: right;">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button>
              
              <button class="like" style="float: right;">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </main>
      </div>
<%- include ('../partials/footer') %>
  